<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="testDataSheetName" value="AssureTestData.xlsx"></parameter>
  <test name="Test1">
  <parameter name="testDataTab" value="VerifySectionNames"></parameter>
  <parameter name="testCaseName" value="VerifySectionNames"></parameter>
    <classes>
      <class name="com.assure.qa.testcases.HomePageTest">
      	<methods>
      		<include name="VerifyloginSuccessfulTest"></include>
      	</methods>
      </class>
    </classes>
  </test>
  
  <test name="Test2">
  <parameter name="testCaseName" value="LoginTestUnSuccessFull"></parameter>
  <parameter name="testDataTab" value="LoginTestUnSuccessFull"></parameter>
    <classes>
      <class name="com.assure.qa.testcases.LoginPageTest">
      	<methods>
      		<include name="VerifyloginUnsuccessfulMessageTest"></include>
      	</methods>
      </class>
    </classes>
  </test> 
  
  <test name="Test3">
  <parameter name="testCaseName" value="VerifySectionNames"></parameter>
  <parameter name="testDataTab" value="VerifySectionNames"></parameter>
    <classes>
      <class name="com.assure.qa.testcases.LoginPageTest">
      	<methods>
      		<include name="VerifySectionNames"></include>
      	</methods>
      </class>
    </classes>
  </test>

  <test name="Test4">
  <parameter name="testCaseName" value="VerifyButtonNames"></parameter>
  <parameter name="testDataTab" value="VerifyButtonNames"></parameter>
    <classes>
      <class name="com.assure.qa.testcases.LoginPageTest">
      	<methods>
      		<include name="VerifyButtonNames"></include>
      	</methods>
      </class>
    </classes>
  </test> 
</suite>


